In [1]:
import pandas as pd

excel_path = "/Users/carterwebb/Desktop/kelps/AllYearsAllSurveys_ExcelMaster_20250918_full_FOR CARTER.xlsx"

year_dfs = pd.read_excel(excel_path, sheet_name=None)

## First We Need To See How Many Beds Have Enought Data ## 
bed_years_map = {}

for yr, df in year_dfs.items(): 
    if 'Bed Name' in df.columns: #find the name column
        for bed in df['Bed Name'].dropna().unique(): #get rid of duplicates and NAN
            bed_years_map.setdefault(bed, []).append(str(yr)) #attach the bed name to the years list we created first and fill the dictionary 

print("\n | Years per Bed Name |\n")
for bed, years in sorted(bed_years_map.items()): #sort dictionary 
    years_sorted = ", ".join(sorted(years)) # sort years 
    print(f"{bed}: {years_sorted}") #print nicely

 | Years per Bed Name |

Aiston Preserve: 2018, 2019, 2020, 2021, 2022, 2023, 2024
Alden Bank: 2018, 2019, 2020
Ben Ure: 2016, 2017, 2018
Biz Point: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Biz Point South: 2024
Cherry Point-Gulf Rd: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Clallam Bay: 2017, 2018, 2019, 2020, 2021, 2022, 2023
Coffin Rocks: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Ebey's Landing: 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Edmond 2 (B): 2015
Edmond 3 (A): 2015
Edmond 3 (C): 2015
Edmonds 1: 2017, 2018, 2019, 2020, 2021, 2022, 2024
Edmonds 2: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Edmonds 3: 2016, 2017, 2018, 2019, 2020, 2021, 2022
Fawn Island: 2016, 2017
Freshwater Bay 1: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Freshwater Bay 2: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Freshwater Bay 3: 2018, 2022, 2023, 2024
Hastie Lake: 2015
Hat Island: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Hat Island West: 2022, 2023, 2024
Hoypus Point: 2016, 2017, 2018, 2021, 2022, 2023, 2024
Libbey Beach: 2015
Lone Tree Point: 2024
Lowell: 2016, 2017, 2020, 2021, 2022, 2023, 2024
Lowell North: 2016
Lummi SW: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Meadowdale 1: 2015, 2016, 2017
Meadowdale 2: 2015, 2016, 2017
Meadowdale 3: 2015, 2016, 2017
Mukilteo 1 (B): 2015, 2016
Mukilteo 2&3 (D): 2016
Mukilteo 2, 3&4 (D): 2015
Mukilteo 4: 2016
Mukilteo 5 (E): 2015, 2016, 2018
Mukilteo 5(E) Unit 5: 2017
Mukilteo 5(E) Unit 6: 2017
Mukilteo 6 (A): 2015, 2016
Mukilteo C: 2015
Mukilteo F: 2015
Mukilteo G: 2015
Mukilteo H: 2015
Mukilteo I: 2015
North Beach East: 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
North Beach West: 2015, 2019
Point Whitehorn: 2016, 2019, 2020, 2021, 2023
Pole Pass: 2015, 2016, 2017
Polnell Point: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Possession Point: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Reef Island: 2016, 2017
Shannon Point East: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Shannon Point West: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024

In [2]:
def build_bed_dfs(excel_path, desired_cols=None):
    """
    Load the Excel file and its multiple sheets (2016–2024), keeping selected columns.
    Also creates standalone DataFrame for each target bed directly in the globals.
    """

## Select Target Beds That Have Greatest Data ## 
    target_beds = [
        'Aiston Preserve','Biz Point','Cherry Point-Gulf Rd','Clallam Bay','Coffin Rocks',
        "Ebey's Landing",'Freshwater Bay 1','Freshwater Bay 2','Hat Island','Hoypus Point',
        'Lowell','Lummi SW','North Beach East','Polnell Point','Possession Point',
        'Shannon Point East','Shannon Point West'
    ]

## Simplify Columns By Setting Default Columns## 
    if desired_cols is None:
        desired_cols = [
            'Bed Name', 'Site Code', 'Survey Date', 'Survey Day', "NWSC Max Ext",
            'Survey Month', 'Survey Year', 'Acres',
            'Temp', 'Temp1 Shore Edge', 'Temp1 Water Edge',
            'Temp2 Shore Edge', 'Temp2 Water Edge',
            'Ave Temp Shore Edge', 'Ave Temp Water Edge'
        ]

## Read Sheets As One then Concat Them Into One DF ## 
    dfs = pd.read_excel(excel_path, sheet_name=None)
    all_data = pd.concat(
        [df[[c for c in desired_cols if c in df.columns]] for df in dfs.values()],
        ignore_index=True
    )

## Standardize DF Names ## 
    for bed in target_beds:
        ## Filter Columns with Target Bed Name ##  
        mask = all_data['Bed Name'] == bed
        if mask.any():
            ## Standardize Bed Names ## 
            var_name = (
                bed.replace(" ", "_")
                   .replace("-", "_")
                   .replace("’", "")
                   .replace("'", "")
            )
## Boolean mask (True/False for each row) loading the previously selected Target Bed rows ##
            globals()[var_name] = all_data.loc[mask].copy()
            print(f"✅ Created DataFrame: {var_name} ({mask.sum()} rows)")

## First Time Using Globals ## Bassically Calls all Variables Defined at Present. 

#Simply Put Globals Now...
## globals() == {
  #  'Lowell': DataFrame,
  #  'Polnell_Point': DataFrame,
  #  'Biz_Point': DataFrame,
  #  ...
  #  'latlon_clean': DataFrame,
  #  'pd': Library          
  #  ...
# }

In [3]:
## Load Path and Use Function ## 
bed_dfs = build_bed_dfs(excel_path)

✅ Created DataFrame: Aiston_Preserve (9 rows)
✅ Created DataFrame: Biz_Point (27 rows)
✅ Created DataFrame: Cherry_Point_Gulf_Rd (13 rows)
✅ Created DataFrame: Clallam_Bay (8 rows)
✅ Created DataFrame: Coffin_Rocks (31 rows)
✅ Created DataFrame: Ebeys_Landing (27 rows)
✅ Created DataFrame: Freshwater_Bay_1 (10 rows)
✅ Created DataFrame: Freshwater_Bay_2 (9 rows)
✅ Created DataFrame: Hat_Island (10 rows)
✅ Created DataFrame: Hoypus_Point (25 rows)
✅ Created DataFrame: Lowell (19 rows)
✅ Created DataFrame: Lummi_SW (9 rows)
✅ Created DataFrame: North_Beach_East (34 rows)
✅ Created DataFrame: Polnell_Point (21 rows)
✅ Created DataFrame: Possession_Point (26 rows)
✅ Created DataFrame: Shannon_Point_East (27 rows)
✅ Created DataFrame: Shannon_Point_West (25 rows)

In [4]:
Hoypus_Point

,Bed Name,Site Code,Survey Date,Survey Day,NWSC Max Ext,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge
40,Hoypus Point,HOYP,2016-07-19,19.0,0.0,7.0,2016.0,4.042001,14.0,NaN,NaN,NaN,NaN,NaN,NaN
41,Hoypus Point,HOYP,2016-07-22,22.0,0.0,7.0,2016.0,1.134140,12.0,NaN,NaN,NaN,NaN,NaN,NaN
42,Hoypus Point,HOYP,2016-08-19,19.0,1.0,8.0,2016.0,3.712156,14.0,NaN,NaN,NaN,NaN,NaN,NaN
43,Hoypus Point,HOYP,2016-09-14,14.0,0.0,9.0,2016.0,3.393510,13.0,NaN,NaN,NaN,NaN,NaN,NaN
151,Hoypus Point,HOYP,2017-06-25,25.0,0.0,6.0,2017.0,1.097827,9.0,NaN,NaN,NaN,NaN,NaN,NaN
152,Hoypus Point,HOYP,2017-07-25,25.0,1.0,7.0,2017.0,3.605778,10.0,NaN,NaN,NaN,NaN,NaN,NaN
211,Hoypus Point,HOYP,2018-07-17,17.0,0.0,7.0,2018.0,4.852531,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,Hoypus Point,HOYP,2018-07-17,17.0,0.0,7.0,2018.0,4.501536,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,Hoypus Point,HOYP,2018-07-17,17.0,0.0,7.0,2018.0,2.968767,13.0,NaN,NaN,NaN,NaN,NaN,NaN
214,Hoypus Point,HOYP,2018-08-14,14.0,0.0,8.0,2018.0,7.488670,13.0,NaN,NaN,NaN,NaN,NaN,NaN
215,Hoypus Point,HOYP,2018-08-14,14.0,0.0,8.0,2018.0,5.703138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,Hoypus Point,HOYP,2018-08-14,14.0,0.0,8.0,2018.0,7.376734,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Hoypus Point,HOYP,2021-06-07,7.0,0.0,6.0,2021.0,1.551245,NaN,11.0,11.0,NaN,NaN,11.00,11.00
361,Hoypus Point,HOYP,2021-07-14,7.0,0.0,14.0,2021.0,NaN,NaN,14.4,13.3,NaN,NaN,14.40,13.30
362,Hoypus Point,HOYP,2021-08-11,11.0,0.0,8.0,2021.0,2.108597,NaN,16.5,15.0,NaN,NaN,16.50,15.00
363,Hoypus Point,HOYP,2021-09-06,6.0,1.0,9.0,2021.0,2.128078,NaN,16.0,14.0,NaN,NaN,16.00,14.00
408,Hoypus Point,HOYP,2022-07-18,18.0,1.0,7.0,2022.0,3.944428,NaN,13.0,12.8,13.1,13.2,13.05,13.00
450,Hoypus Point,HOYP,2023-06-22,22.0,0.0,6.0,2023.0,1.991681,NaN,14.1,13.2,14.3,12.6,14.20,12.90
451,Hoypus Point,HOYP,2023-07-20,20.0,0.0,7.0,2023.0,2.761130,NaN,13.0,12.6,13.9,12.7,13.50,12.70
452,Hoypus Point,HOYP,2023-08-15,15.0,1.0,8.0,2023.0,3.468347,NaN,14.5,13.9,14.8,13.4,14.70,13.70
453,Hoypus Point,HOYP,2023-09-28,28.0,0.0,9.0,2023.0,2.464259,NaN,12.5,12.3,12.5,12.4,12.50,12.40
516,Hoypus Point,HOYP,2024-06-19,19.0,0.0,6.0,2024.0,2.622418,NaN,11.8,12,11.8,11.8,11.80,11.90
517,Hoypus Point,HOYP,2024-07-18,18.0,0.0,7.0,2024.0,2.374159,NaN,12.2,11.9,12.2,12.2,12.20,12.05
518,Hoypus Point,HOYP,2024-08-16,16.0,1.0,8.0,2024.0,3.406280,NaN,12.8,13,12.8,12.7,12.80,12.85
519,Hoypus Point,HOYP,2024-09-16,16.0,0.0,9.0,2024.0,2.499621,NaN,12.2,12.1,12.3,12.1,12.25,12.10

In [5]:
## Looking Into Each Data Frame For Info ##
for var_name in [
    'Aiston_Preserve','Biz_Point','Cherry_Point_Gulf_Rd','Clallam_Bay','Coffin_Rocks',
    'Ebeys_Landing','Freshwater_Bay_1','Freshwater_Bay_2','Hat_Island','Hoypus_Point',
    'Lowell','Lummi_SW','North_Beach_East','Polnell_Point','Possession_Point',
    'Shannon_Point_East','Shannon_Point_West'
]:
    print(f"\n | {var_name} |\n")
    globals()[var_name].info()

 | Aiston_Preserve |

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 251 to 489
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             9 non-null      object
 1   Site Code            9 non-null      object
 2   Survey Date          9 non-null      datetime64[ns]
 3   Survey Day           9 non-null      float64
 4   NWSC Max Ext         9 non-null      float64
 5   Survey Month         9 non-null      float64
 6   Survey Year          9 non-null      float64
 7   Acres                9 non-null      float64
 8   Temp                 2 non-null      float64
 9   Temp1 Shore Edge     7 non-null      object
 10  Temp1 Water Edge     7 non-null      object
 11  Temp2 Shore Edge     6 non-null      object
 12  Temp2 Water Edge     7 non-null      object
 13  Ave Temp Shore Edge  7 non-null      float64
 14  Ave Temp Water Edge  7 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 1.1+ KB

 | Biz_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 172 to 492
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             27 non-null     object
 1   Site Code            27 non-null     object
 2   Survey Date          27 non-null     datetime64[ns]
 3   Survey Day           27 non-null     float64
 4   NWSC Max Ext         27 non-null     float64
 5   Survey Month         27 non-null     float64
 6   Survey Year          27 non-null     float64
 7   Acres                27 non-null     float64
 8   Temp                 7 non-null      float64
 9   Temp1 Shore Edge     3 non-null      object
 10  Temp1 Water Edge     13 non-null     object
 11  Temp2 Shore Edge     0 non-null      object
 12  Temp2 Water Edge     2 non-null      object
 13  Ave Temp Shore Edge  3 non-null      float64
 14  Ave Temp Water Edge  13 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 3.4+ KB

 | Cherry_Point_Gulf_Rd |

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 197 to 495
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             13 non-null     object
 1   Site Code            13 non-null     object
 2   Survey Date          13 non-null     datetime64[ns]
 3   Survey Day           13 non-null     float64
 4   NWSC Max Ext         12 non-null     float64
 5   Survey Month         13 non-null     float64
 6   Survey Year          13 non-null     float64
 7   Acres                12 non-null     float64
 8   Temp                 4 non-null      float64
 9   Temp1 Shore Edge     7 non-null      object
 10  Temp1 Water Edge     7 non-null      object
 11  Temp2 Shore Edge     6 non-null      object
 12  Temp2 Water Edge     7 non-null      object
 13  Ave Temp Shore Edge  7 non-null      float64
 14  Ave Temp Water Edge  7 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 1.6+ KB

 | Clallam_Bay |

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 138 to 445
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             8 non-null      object
 1   Site Code            8 non-null      object
 2   Survey Date          8 non-null      datetime64[ns]
 3   Survey Day           8 non-null      float64
 4   NWSC Max Ext         8 non-null      float64
 5   Survey Month         8 non-null      float64
 6   Survey Year          8 non-null      float64
 7   Acres                8 non-null      float64
 8   Temp                 4 non-null      float64
 9   Temp1 Shore Edge     2 non-null      object
 10  Temp1 Water Edge     3 non-null      object
 11  Temp2 Shore Edge     0 non-null      object
 12  Temp2 Water Edge     0 non-null      object
 13  Ave Temp Shore Edge  2 non-null      float64
 14  Ave Temp Water Edge  3 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 1.0+ KB

 | Coffin_Rocks |

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 73 to 499
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             31 non-null     object
 1   Site Code            31 non-null     object
 2   Survey Date          31 non-null     datetime64[ns]
 3   Survey Day           31 non-null     float64
 4   NWSC Max Ext         31 non-null     float64
 5   Survey Month         31 non-null     float64
 6   Survey Year          31 non-null     float64
 7   Acres                31 non-null     float64
 8   Temp                 10 non-null     float64
 9   Temp1 Shore Edge     18 non-null     object
 10  Temp1 Water Edge     17 non-null     object
 11  Temp2 Shore Edge     6 non-null      object
 12  Temp2 Water Edge     6 non-null      object
 13  Ave Temp Shore Edge  18 non-null     float64
 14  Ave Temp Water Edge  17 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 3.9+ KB

 | Ebeys_Landing |

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 0 to 500
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             27 non-null     object
 1   Site Code            27 non-null     object
 2   Survey Date          27 non-null     datetime64[ns]
 3   Survey Day           27 non-null     float64
 4   NWSC Max Ext         27 non-null     float64
 5   Survey Month         27 non-null     float64
 6   Survey Year          27 non-null     float64
 7   Acres                27 non-null     float64
 8   Temp                 18 non-null     float64
 9   Temp1 Shore Edge     9 non-null      object
 10  Temp1 Water Edge     11 non-null     object
 11  Temp2 Shore Edge     3 non-null      object
 12  Temp2 Water Edge     4 non-null      object
 13  Ave Temp Shore Edge  9 non-null      float64
 14  Ave Temp Water Edge  9 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 3.4+ KB

 | Freshwater_Bay_1 |

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 28 to 508
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             10 non-null     object
 1   Site Code            10 non-null     object
 2   Survey Date          10 non-null     datetime64[ns]
 3   Survey Day           10 non-null     float64
 4   NWSC Max Ext         10 non-null     float64
 5   Survey Month         10 non-null     float64
 6   Survey Year          10 non-null     float64
 7   Acres                10 non-null     float64
 8   Temp                 4 non-null      float64
 9   Temp1 Shore Edge     3 non-null      object
 10  Temp1 Water Edge     4 non-null      object
 11  Temp2 Shore Edge     2 non-null      object
 12  Temp2 Water Edge     3 non-null      object
 13  Ave Temp Shore Edge  3 non-null      float64
 14  Ave Temp Water Edge  4 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 1.2+ KB

 | Freshwater_Bay_2 |

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 30 to 509
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             9 non-null      object
 1   Site Code            9 non-null      object
 2   Survey Date          9 non-null      datetime64[ns]
 3   Survey Day           9 non-null      float64
 4   NWSC Max Ext         9 non-null      float64
 5   Survey Month         9 non-null      float64
 6   Survey Year          9 non-null      float64
 7   Acres                9 non-null      float64
 8   Temp                 4 non-null      float64
 9   Temp1 Shore Edge     4 non-null      object
 10  Temp1 Water Edge     4 non-null      object
 11  Temp2 Shore Edge     2 non-null      object
 12  Temp2 Water Edge     2 non-null      object
 13  Ave Temp Shore Edge  5 non-null      float64
 14  Ave Temp Water Edge  4 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 1.1+ KB

 | Hat_Island |

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 188 to 513
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             10 non-null     object
 1   Site Code            10 non-null     object
 2   Survey Date          10 non-null     datetime64[ns]
 3   Survey Day           10 non-null     float64
 4   NWSC Max Ext         10 non-null     float64
 5   Survey Month         10 non-null     float64
 6   Survey Year          10 non-null     float64
 7   Acres                10 non-null     float64
 8   Temp                 3 non-null      float64
 9   Temp1 Shore Edge     6 non-null      object
 10  Temp1 Water Edge     6 non-null      object
 11  Temp2 Shore Edge     3 non-null      object
 12  Temp2 Water Edge     3 non-null      object
 13  Ave Temp Shore Edge  6 non-null      float64
 14  Ave Temp Water Edge  6 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 1.2+ KB

 | Hoypus_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 40 to 519
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             25 non-null     object
 1   Site Code            25 non-null     object
 2   Survey Date          25 non-null     datetime64[ns]
 3   Survey Day           25 non-null     float64
 4   NWSC Max Ext         25 non-null     float64
 5   Survey Month         25 non-null     float64
 6   Survey Year          25 non-null     float64
 7   Acres                24 non-null     float64
 8   Temp                 8 non-null      float64
 9   Temp1 Shore Edge     13 non-null     object
 10  Temp1 Water Edge     13 non-null     object
 11  Temp2 Shore Edge     9 non-null      object
 12  Temp2 Water Edge     9 non-null      object
 13  Ave Temp Shore Edge  13 non-null     float64
 14  Ave Temp Water Edge  13 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 3.1+ KB

 | Lowell |

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 44 to 526
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             19 non-null     object
 1   Site Code            19 non-null     object
 2   Survey Date          19 non-null     datetime64[ns]
 3   Survey Day           19 non-null     float64
 4   NWSC Max Ext         19 non-null     float64
 5   Survey Month         19 non-null     float64
 6   Survey Year          19 non-null     float64
 7   Acres                19 non-null     float64
 8   Temp                 4 non-null      float64
 9   Temp1 Shore Edge     14 non-null     object
 10  Temp1 Water Edge     14 non-null     object
 11  Temp2 Shore Edge     7 non-null      object
 12  Temp2 Water Edge     7 non-null      object
 13  Ave Temp Shore Edge  14 non-null     float64
 14  Ave Temp Water Edge  14 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 2.4+ KB

 | Lummi_SW |

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 136 to 520
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             9 non-null      object
 1   Site Code            9 non-null      object
 2   Survey Date          9 non-null      datetime64[ns]
 3   Survey Day           9 non-null      float64
 4   NWSC Max Ext         9 non-null      float64
 5   Survey Month         9 non-null      float64
 6   Survey Year          9 non-null      float64
 7   Acres                9 non-null      float64
 8   Temp                 3 non-null      float64
 9   Temp1 Shore Edge     5 non-null      object
 10  Temp1 Water Edge     5 non-null      object
 11  Temp2 Shore Edge     5 non-null      object
 12  Temp2 Water Edge     5 non-null      object
 13  Ave Temp Shore Edge  5 non-null      float64
 14  Ave Temp Water Edge  5 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 1.1+ KB

 | North_Beach_East |

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 10 to 529
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             34 non-null     object
 1   Site Code            34 non-null     object
 2   Survey Date          34 non-null     datetime64[ns]
 3   Survey Day           34 non-null     float64
 4   NWSC Max Ext         34 non-null     float64
 5   Survey Month         34 non-null     float64
 6   Survey Year          34 non-null     float64
 7   Acres                34 non-null     float64
 8   Temp                 16 non-null     float64
 9   Temp1 Shore Edge     12 non-null     object
 10  Temp1 Water Edge     13 non-null     object
 11  Temp2 Shore Edge     9 non-null      object
 12  Temp2 Water Edge     9 non-null      object
 13  Ave Temp Shore Edge  12 non-null     float64
 14  Ave Temp Water Edge  13 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 4.2+ KB

 | Polnell_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 48 to 530
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             21 non-null     object
 1   Site Code            21 non-null     object
 2   Survey Date          21 non-null     datetime64[ns]
 3   Survey Day           21 non-null     float64
 4   NWSC Max Ext         21 non-null     float64
 5   Survey Month         21 non-null     float64
 6   Survey Year          21 non-null     float64
 7   Acres                21 non-null     float64
 8   Temp                 13 non-null     float64
 9   Temp1 Shore Edge     7 non-null      object
 10  Temp1 Water Edge     7 non-null      object
 11  Temp2 Shore Edge     4 non-null      object
 12  Temp2 Water Edge     5 non-null      object
 13  Ave Temp Shore Edge  7 non-null      float64
 14  Ave Temp Water Edge  7 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 2.6+ KB

 | Possession_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 159 to 534
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             26 non-null     object
 1   Site Code            26 non-null     object
 2   Survey Date          26 non-null     datetime64[ns]
 3   Survey Day           26 non-null     float64
 4   NWSC Max Ext         26 non-null     float64
 5   Survey Month         26 non-null     float64
 6   Survey Year          26 non-null     float64
 7   Acres                26 non-null     float64
 8   Temp                 8 non-null      float64
 9   Temp1 Shore Edge     17 non-null     object
 10  Temp1 Water Edge     17 non-null     object
 11  Temp2 Shore Edge     11 non-null     object
 12  Temp2 Water Edge     13 non-null     object
 13  Ave Temp Shore Edge  17 non-null     float64
 14  Ave Temp Water Edge  17 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 3.2+ KB

 | Shannon_Point_East |

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 176 to 536
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             27 non-null     object
 1   Site Code            27 non-null     object
 2   Survey Date          27 non-null     datetime64[ns]
 3   Survey Day           27 non-null     float64
 4   NWSC Max Ext         27 non-null     float64
 5   Survey Month         27 non-null     float64
 6   Survey Year          27 non-null     float64
 7   Acres                27 non-null     float64
 8   Temp                 10 non-null     float64
 9   Temp1 Shore Edge     16 non-null     object
 10  Temp1 Water Edge     16 non-null     object
 11  Temp2 Shore Edge     4 non-null      object
 12  Temp2 Water Edge     4 non-null      object
 13  Ave Temp Shore Edge  16 non-null     float64
 14  Ave Temp Water Edge  16 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 3.4+ KB

 | Shannon_Point_West |

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 180 to 540
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             25 non-null     object
 1   Site Code            25 non-null     object
 2   Survey Date          25 non-null     datetime64[ns]
 3   Survey Day           25 non-null     float64
 4   NWSC Max Ext         25 non-null     float64
 5   Survey Month         25 non-null     float64
 6   Survey Year          25 non-null     float64
 7   Acres                25 non-null     float64
 8   Temp                 8 non-null      float64
 9   Temp1 Shore Edge     15 non-null     object
 10  Temp1 Water Edge     15 non-null     object
 11  Temp2 Shore Edge     6 non-null      object
 12  Temp2 Water Edge     7 non-null      object
 13  Ave Temp Shore Edge  15 non-null     float64
 14  Ave Temp Water Edge  15 non-null     float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 3.1+ KB

In [6]:
# Save Lat Lon Incase We Need it In the Future ## 
latlon_clean.to_csv("/Users/carterwebb/Desktop/kelps/data/cleaned_data/latlon_clean.csv", index=False)
print("✅ Saved latlon_clean.csv")

## Couldnt Get the Old List To Call Correctly, Not Sure What Happened, Simply Remade it To Save ## 
bed_vars = [
    'Aiston_Preserve','Biz_Point','Cherry_Point_Gulf_Rd','Clallam_Bay','Coffin_Rocks',
    'Ebeys_Landing','Freshwater_Bay_1','Freshwater_Bay_2','Hat_Island','Hoypus_Point',
    'Lowell','Lummi_SW','North_Beach_East','Polnell_Point','Possession_Point',
    'Shannon_Point_East','Shannon_Point_West'
]

for bed in bed_vars:
    if bed in globals():
        df = globals()[bed]
        if 'Bed Name' not in df.columns:
            df['Bed Name'] = bed
        df.to_csv(f"/Users/carterwebb/Desktop/kelps/data/cleaned_data/{bed}.csv", index=False)
        print(f"✅ Saved {bed}.csv ({len(df)} rows)")
    else:
        print(f"⚠️ {bed} not found")

## Concat For Future Use If Neccesary / Making Percent Change Metrics ## 
combined = pd.concat([globals()[b] for b in bed_vars if b in globals()], ignore_index=True)
combined.to_csv("/Users/carterwebb/Desktop/kelps/data/cleaned_data/AllBeds_Clean.csv", index=False)
print(f"✅ Saved AllBeds_Clean.csv ({len(combined)} total rows)")

NameError: name 'latlon_clean' is not defined