## Load Libraries

In [14]:
import numpy as np
import pandas as pd

## Load the excel sheet

In [2]:
#"C:\Users\ahria\Downloads\KelpClean(1).ipynb"
excel_path = "C:/Users/ahria/Downloads/AllYearsAllSurveys_ExcelMaster_20250918_full_FOR CARTER.xlsx"

year_dfs = pd.read_excel(excel_path, sheet_name=None)

## First We Need To See How Many Beds Have Enought Data ## 
bed_years_map = {}

for yr, df in year_dfs.items(): 
    if 'Bed Name' in df.columns: #find the name column
        for bed in df['Bed Name'].dropna().unique(): #get rid of duplicates and NAN
            bed_years_map.setdefault(bed, []).append(str(yr)) #attach the bed name to the years list we created first and fill the dictionary 

print("\n | Years per Bed Name |\n")
for bed, years in sorted(bed_years_map.items()): #sort dictionary 
    years_sorted = ", ".join(sorted(years)) # sort years 
    print(f"{bed}: {years_sorted}") #print nicely

 | Years per Bed Name |

Aiston Preserve: 2018, 2019, 2020, 2021, 2022, 2023, 2024
Alden Bank: 2018, 2019, 2020
Ben Ure: 2016, 2017, 2018
Biz Point: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Biz Point South: 2024
Cherry Point-Gulf Rd: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Clallam Bay: 2017, 2018, 2019, 2020, 2021, 2022, 2023
Coffin Rocks: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Ebey's Landing: 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Edmond 2 (B): 2015
Edmond 3 (A): 2015
Edmond 3 (C): 2015
Edmonds 1: 2017, 2018, 2019, 2020, 2021, 2022, 2024
Edmonds 2: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Edmonds 3: 2016, 2017, 2018, 2019, 2020, 2021, 2022
Fawn Island: 2016, 2017
Freshwater Bay 1: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Freshwater Bay 2: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Freshwater Bay 3: 2018, 2022, 2023, 2024
Hastie Lake: 2015
Hat Island: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Hat Island West: 2022, 2023, 2024
Hoypus Point: 2016, 2017, 2018, 2021, 2022, 2023, 2024
Libbey Beach: 2015
Lone Tree Point: 2024
Lowell: 2016, 2017, 2020, 2021, 2022, 2023, 2024
Lowell North: 2016
Lummi SW: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Meadowdale 1: 2015, 2016, 2017
Meadowdale 2: 2015, 2016, 2017
Meadowdale 3: 2015, 2016, 2017
Mukilteo 1 (B): 2015, 2016
Mukilteo 2&3 (D): 2016
Mukilteo 2, 3&4 (D): 2015
Mukilteo 4: 2016
Mukilteo 5 (E): 2015, 2016, 2018
Mukilteo 5(E) Unit 5: 2017
Mukilteo 5(E) Unit 6: 2017
Mukilteo 6 (A): 2015, 2016
Mukilteo C: 2015
Mukilteo F: 2015
Mukilteo G: 2015
Mukilteo H: 2015
Mukilteo I: 2015
North Beach East: 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
North Beach West: 2015, 2019
Point Whitehorn: 2016, 2019, 2020, 2021, 2023
Pole Pass: 2015, 2016, 2017
Polnell Point: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Possession Point: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Reef Island: 2016, 2017
Shannon Point East: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Shannon Point West: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024

## Refine the bed datasets

In [3]:
def build_bed_dfs(excel_path, desired_cols=None):
    """
    Reads an Excel file with multiple sheets (2016–2024),
    keeps selected columns, and creates standalone DataFrames
    for each target bed directly in the global namespace.
    """

## Select Target Beds That Have Greatest Data ## 
    target_beds = [
        'Aiston Preserve','Biz Point','Cherry Point-Gulf Rd','Clallam Bay','Coffin Rocks',
        "Ebey's Landing",'Freshwater Bay 1','Freshwater Bay 2','Hat Island','Hoypus Point',
        'Lowell','Lummi SW','North Beach East','Polnell Point','Possession Point',
        'Shannon Point East','Shannon Point West'
    ]

## Simplify Columns By Setting Default Columns## 
    if desired_cols is None:
        desired_cols = [
            'Bed Name', 'Site Code', 'Survey Date', 'Survey Day',
            'Survey Month', 'Survey Year', 'Acres',
            'Temp', 'Temp1 Shore Edge', 'Temp1 Water Edge',
            'Temp2 Shore Edge', 'Temp2 Water Edge',
            'Ave Temp Shore Edge', 'Ave Temp Water Edge', 'NWSC Max Ext'
        ]

## Read Sheets As One then Concat Them Into One DF ## 
    dfs = pd.read_excel(excel_path, sheet_name=None)
    all_data = pd.concat(
        [df[[c for c in desired_cols if c in df.columns]] for df in dfs.values()],
        ignore_index=True
    )

## Standardize DF Names ## 
    for bed in target_beds:
        ## Filter Columns with Target Bed Name ##  
        mask = all_data['Bed Name'] == bed
        if mask.any():
            ## Standardize Bed Names ## 
            var_name = (
                bed.replace(" ", "_")
                   .replace("-", "_")
                   .replace("’", "")
                   .replace("'", "")
            )
## Boolean mask (True/False for each row) loading the previously selected Target Bed rows ##
            globals()[var_name] = all_data.loc[mask].copy()
            print(f"✅ Created DataFrame: {var_name} ({mask.sum()} rows)")

## First Time Using Globals ## Bassically Calls all Variables Define at Present. 

#Simply Put Globals Now...
## globals() == {
  #  'Lowell': DataFrame,
  #  'Polnell_Point': DataFrame,
  #  'Biz_Point': DataFrame,
  #  ...
  #  'latlon_clean': DataFrame,
  #  'pd': Library          
  #  ...
# }

In [4]:
## Load Path and Use Function ## 
bed_dfs = build_bed_dfs(excel_path)

✅ Created DataFrame: Aiston_Preserve (9 rows)
✅ Created DataFrame: Biz_Point (27 rows)
✅ Created DataFrame: Cherry_Point_Gulf_Rd (13 rows)
✅ Created DataFrame: Clallam_Bay (8 rows)
✅ Created DataFrame: Coffin_Rocks (31 rows)
✅ Created DataFrame: Ebeys_Landing (27 rows)
✅ Created DataFrame: Freshwater_Bay_1 (10 rows)
✅ Created DataFrame: Freshwater_Bay_2 (9 rows)
✅ Created DataFrame: Hat_Island (10 rows)
✅ Created DataFrame: Hoypus_Point (25 rows)
✅ Created DataFrame: Lowell (19 rows)
✅ Created DataFrame: Lummi_SW (9 rows)
✅ Created DataFrame: North_Beach_East (34 rows)
✅ Created DataFrame: Polnell_Point (21 rows)
✅ Created DataFrame: Possession_Point (26 rows)
✅ Created DataFrame: Shannon_Point_East (27 rows)
✅ Created DataFrame: Shannon_Point_West (25 rows)

## Combine all the sheets into one

In [5]:
list_of_dfs = [Aiston_Preserve,Biz_Point,Cherry_Point_Gulf_Rd,Clallam_Bay,Coffin_Rocks,
    Ebeys_Landing,Freshwater_Bay_1,Freshwater_Bay_2,Hat_Island,Hoypus_Point,
    Lowell,Lummi_SW,North_Beach_East,Polnell_Point,Possession_Point,
    Shannon_Point_East,Shannon_Point_West]

# Concatenate the DataFrames vertically
combined_df = pd.concat(list_of_dfs, ignore_index=True)

In [6]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             330 non-null    object
 1   Site Code            330 non-null    object
 2   Survey Date          330 non-null    datetime64[ns]
 3   Survey Day           330 non-null    float64
 4   Survey Month         330 non-null    float64
 5   Survey Year          330 non-null    float64
 6   Acres                328 non-null    float64
 7   Temp                 126 non-null    float64
 8   Temp1 Shore Edge     158 non-null    object
 9   Temp1 Water Edge     172 non-null    object
 10  Temp2 Shore Edge     83 non-null     object
 11  Temp2 Water Edge     93 non-null     object
 12  Ave Temp Shore Edge  159 non-null    float64
 13  Ave Temp Water Edge  170 non-null    float64
 14  NWSC Max Ext         329 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 38.8+ KB

## Look at the rows where all the temperature related columns are Nans

In [7]:
temp_cols_all = [
    'Temp', 'Temp1 Shore Edge', 'Temp1 Water Edge',
    'Temp2 Shore Edge', 'Temp2 Water Edge',
    'Ave Temp Shore Edge', 'Ave Temp Water Edge']

all_nan_rows = combined_df[combined_df[temp_cols_all].isnull().all(axis=1)]
all_nan_rows

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge,NWSC Max Ext
23,Biz Point,BZPT,2022-06-12,12.0,6.0,2022.0,0.211207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
27,Biz Point,BZPT,2023-06-14,14.0,6.0,2023.0,0.289598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
31,Biz Point,BZPT-S,2023-07-13,13.0,7.0,2023.0,0.021524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
32,Biz Point,BZPT-S,2023-08-13,13.0,8.0,2023.0,0.299155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
37,Cherry Point-Gulf Rd,CHPT,2017-09-04,4.0,9.0,2017.0,29.379643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
43,Cherry Point-Gulf Rd,CHPT,2021-09-04,4.0,9.0,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Clallam Bay,CLLB,2023-09-02,2.0,9.0,2023.0,9.584521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
57,Coffin Rocks,COFF,2016-08-20,20.0,8.0,2016.0,1.234134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
63,Coffin Rocks,COFF,2018-07-15,15.0,7.0,2018.0,1.023036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
81,Coffin Rocks,COFF,2023-06-21,21.0,6.0,2023.0,1.085299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
117,Freshwater Bay 1,FWB,2017-08-20,20.0,8.0,2017.0,168.871267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
121,Freshwater Bay 1,FWB,2021-07-27,27.0,7.0,2021.0,128.509924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
135,Hat Island,HAT-S,2018-08-13,13.0,8.0,2018.0,32.968515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
150,Hoypus Point,HOYP,2018-07-17,17.0,7.0,2018.0,4.852531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
151,Hoypus Point,HOYP,2018-07-17,17.0,7.0,2018.0,4.501536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
154,Hoypus Point,HOYP,2018-08-14,14.0,8.0,2018.0,5.703138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
155,Hoypus Point,HOYP,2018-08-14,14.0,8.0,2018.0,7.376734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
173,Lowell,LWLP,2017-08-23,23.0,8.0,2017.0,13.882558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
189,Lummi SW,LMMI-SW,2017-08-05,5.0,8.0,2017.0,2.562993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
197,North Beach East,NB-E,2015-09-12,12.0,9.0,2015.0,2.422551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
200,North Beach East,NB-E,2016-07-11,11.0,7.0,2016.0,9.203085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
210,North Beach East,NB-E,2017-09-04,4.0,9.0,2017.0,16.555962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
213,North Beach East,NB-E,2018-08-25,25.0,8.0,2018.0,9.329159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
237,Polnell Point,POLN,2017-09-18,18.0,9.0,2017.0,27.432119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
264,Possession Point,POSS,2021-07-19,19.0,7.0,2021.0,55.068824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
282,Shannon Point East,SHPT-E,2018-06-29,29.0,6.0,2018.0,3.866043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
307,Shannon Point West,SHPT-W,2018-06-29,29.0,6.0,2018.0,0.431621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
314,Shannon Point West,SHPT-W,2019-08-18,18.0,8.0,2019.0,3.446139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

## Define a function to find the temperature from the month before

In [8]:
def get_prior_month_avg_temp(current_date, bed_name, combined_df):
    """
    Calculates the average temperature from the previous month for a specific bed.

    Args:
        current_date (pd.Timestamp): The date for which to find the prior month's temperature.
        bed_name (str): The name of the kelp bed.
        combined_df (pd.DataFrame): The DataFrame containing all combined kelp data.

    Returns:
        float or pd.NA: The average temperature from the previous month for the specified bed,
                        or pd.NA if no data is found.
    """
    if pd.isna(current_date):
        return pd.NA

    # Calculate target date for one month prior
    one_month_ago = current_date - pd.DateOffset(months=1)
    target_year = one_month_ago.year
    target_month = one_month_ago.month

    # Filter combined_df for the specific bed and target month/year
    filtered_data = combined_df[
        (combined_df['Bed Name'] == bed_name)
        & (combined_df['Survey Year'] == target_year)
        & (combined_df['Survey Month'] == target_month)
    ]

    # Extract 'avg_temp' values and calculate mean
    prior_temps = filtered_data['avg_temp'].dropna()

    if not prior_temps.empty:
        return prior_temps.mean()
    else:
        return pd.NA

print("Function 'get_prior_month_avg_temp' defined successfully.")

Function 'get_prior_month_avg_temp' defined successfully.

## Apply the function

- make an average temperature column that finds the average of all temperature related columns in the row
- create a condition for if NWSC MAX EXT column is 1 AND all the temperature related columns are 0
- create another function which will apply the prior month average function
- Print out the rows that were changed (visually inspected and verifiied)

In [9]:
# Ensure 'Survey Date' is datetime for date operations
combined_df['Survey Date'] = pd.to_datetime(combined_df['Survey Date'])

# Ensure all temperature columns are numeric, coercing errors
for col in temp_cols_all:
    combined_df[col] = pd.to_numeric(combined_df[col], errors='coerce')

# Recalculate 'avg_temp' column using the now numeric temperature columns
# Explicitly cast to pandas' nullable Float64 dtype to prevent FutureWarnings when assigning pd.NA
combined_df['avg_temp'] = combined_df[temp_cols_all].mean(axis=1).astype(pd.Float64Dtype())

# Identify rows where 'NWSC Max Ext' is 1.0 and all temperature-related columns (before avg_temp calculation) were NaN
# We check 'temp_cols_all' directly here to see if *all original* temp columns were NaN, not 'avg_temp' itself
condition = (combined_df['NWSC Max Ext'] == 1.0) & (combined_df[temp_cols_all].isnull().all(axis=1))

# Apply the get_prior_month_avg_temp function to these specific rows
def fill_avg_temp_if_nan(row):
    # The condition is used to filter rows *before* applying the function in the .loc statement
    # so here we just return the prior month's avg temp for the specific row
    return get_prior_month_avg_temp(row['Survey Date'], row['Bed Name'], combined_df)

# Use .loc with a boolean mask for safe assignment and apply the function
combined_df.loc[condition, 'avg_temp'] = combined_df.loc[condition].apply(fill_avg_temp_if_nan, axis=1)

print("Filled 'avg_temp' column for relevant rows using prior month's average temperature.")

# Display the rows that were updated to verify
updated_rows = combined_df[condition]
print("\nRows updated:")
print(updated_rows[['Bed Name', 'Survey Date', 'NWSC Max Ext', 'avg_temp']])

Filled 'avg_temp' column for relevant rows using prior month's average temperature.

Rows updated:
                 Bed Name Survey Date  NWSC Max Ext  avg_temp
32              Biz Point  2023-08-13           1.0      10.5
37   Cherry Point-Gulf Rd  2017-09-04           1.0      14.0
117      Freshwater Bay 1  2017-08-20           1.0      <NA>
121      Freshwater Bay 1  2021-07-27           1.0      <NA>
135            Hat Island  2018-08-13           1.0      <NA>
173                Lowell  2017-08-23           1.0      14.0
189              Lummi SW  2017-08-05           1.0      <NA>
213      North Beach East  2018-08-25           1.0      11.0
237         Polnell Point  2017-09-18           1.0      16.0

In [10]:
combined_df

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge,NWSC Max Ext,avg_temp
0,Aiston Preserve,AISP,2018-07-31,31.0,7.0,2018.0,0.117903,16.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0
1,Aiston Preserve,AISP,2019-08-01,1.0,8.0,2019.0,0.167167,16.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0
2,Aiston Preserve,AISP,2020-07-20,20.0,7.0,2020.0,0.327542,NaN,15.00,15.00,15.6,15.00,15.30,15.00,1.0,15.15
3,Aiston Preserve,AISP,2021-07-27,27.0,7.0,2021.0,0.207529,NaN,14.44,14.44,NaN,14.44,14.44,14.44,1.0,14.44
4,Aiston Preserve,AISP,2022-07-31,31.0,7.0,2022.0,0.296172,NaN,20.00,20.00,20.0,20.00,20.00,20.00,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Shannon Point West,SHPT-W,2023-09-01,1.0,9.0,2023.0,4.720687,NaN,13.30,13.90,12.8,13.30,12.90,13.40,1.0,13.266667
326,Shannon Point West,SHPT-W,2024-06-19,19.0,6.0,2024.0,0.665673,NaN,12.00,12.00,12.0,12.00,12.00,12.00,0.0,12.0
327,Shannon Point West,SHPT-W,2024-07-17,17.0,7.0,2024.0,0.530314,NaN,14.40,14.40,14.4,14.40,14.40,14.40,0.0,14.4
328,Shannon Point West,SHPT-W,2024-08-16,16.0,8.0,2024.0,6.095017,NaN,12.20,12.20,12.2,12.20,12.20,12.20,1.0,12.2
329,Shannon Point West,SHPT-W,2024-09-14,14.0,9.0,2024.0,5.835066,NaN,12.20,12.20,12.2,12.20,12.20,12.20,0.0,12.2

## Refine down to only rows where NWSC is 1

In [11]:
only1_df = combined_df[combined_df['NWSC Max Ext'] != 0]

In [12]:
only1_df

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge,NWSC Max Ext,avg_temp
0,Aiston Preserve,AISP,2018-07-31,31.0,7.0,2018.0,0.117903,16.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0
1,Aiston Preserve,AISP,2019-08-01,1.0,8.0,2019.0,0.167167,16.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,16.0
2,Aiston Preserve,AISP,2020-07-20,20.0,7.0,2020.0,0.327542,NaN,15.00,15.00,15.6,15.00,15.30,15.00,1.0,15.15
3,Aiston Preserve,AISP,2021-07-27,27.0,7.0,2021.0,0.207529,NaN,14.44,14.44,NaN,14.44,14.44,14.44,1.0,14.44
4,Aiston Preserve,AISP,2022-07-31,31.0,7.0,2022.0,0.296172,NaN,20.00,20.00,20.0,20.00,20.00,20.00,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,Shannon Point West,SHPT-W,2020-09-18,18.0,9.0,2020.0,7.790410,NaN,11.30,11.50,NaN,NaN,11.30,11.50,1.0,11.4
321,Shannon Point West,SHPT-W,2021-09-19,19.0,9.0,2021.0,4.860296,NaN,11.11,10.00,NaN,10.56,11.11,10.28,1.0,10.612
323,Shannon Point West,SHPT-W,2022-08-12,12.0,8.0,2022.0,3.267264,NaN,12.78,11.11,NaN,NaN,12.78,11.11,1.0,11.945
325,Shannon Point West,SHPT-W,2023-09-01,1.0,9.0,2023.0,4.720687,NaN,13.30,13.90,12.8,13.30,12.90,13.40,1.0,13.266667
328,Shannon Point West,SHPT-W,2024-08-16,16.0,8.0,2024.0,6.095017,NaN,12.20,12.20,12.2,12.20,12.20,12.20,1.0,12.2

## Output into a csv for analysis

In [13]:
only1_df.to_csv('nwsc_only_all_beds.csv', index=False)