In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
siq = pd.read_csv(
    "https://raw.github.com/sgolden3/Data-5100-Data-1/79e16a939d4876ecc81ec5e5d3b9f299db7e1f6a/Data/raw_data/siq.csv"
)

In [3]:
siq.head()

,OBJECTID,Location,Bed Name,Survey Date,Survey Month,Survey Year,Start Time,End Time,Tide Station,Tidal Ht m,...,ToBe,ToWa,BeL,BeR,Notes,Extent Start Waypoint,Extent End Waypoint,Bulb m2,Shape__Area,Shape__Length
0,1,Ebey's Landing,Ebey's Landing,2015-06-14,6,2015,09:23:00,10:18:00,Admiralty Head,-0.4572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.7590,413718.397095,4015.901723
1,2,Ebey's Landing,Ebey's Landing,2015-07-19,7,2015,12:20:00,13:28:00,Admiralty Head,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8222,637575.510620,5005.838394
2,3,Ebey's Landing,Ebey's Landing,2015-08-15,8,2015,11:13:00,12:31:00,Admiralty Head,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2000,800084.648926,6274.943817
3,4,Ebey's Landing,Ebey's Landing,2015-09-26,9,2015,08:40:00,09:46:00,Admiralty head,0.1524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6889,779666.330566,5859.607518
4,5,Hastie Lake Launch,Hastie Lake,2015-06-15,6,2015,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,579288.491333,6285.543813

In [5]:
siq_red = siq[
    (siq["Survey Year"] >= 2020) & (siq["Survey Year"] <= 2024)
][
    [
        "Bed Name",
        "Survey Date",
        "Survey Month",
        "Survey Year",
        "Acres",
        "Temp1 Shore Edge"
    ]
].copy()

In [7]:
siq_red.head()

,Bed Name,Survey Date,Survey Month,Survey Year,Acres,Temp1 Shore Edge
306,Clallam Bay,2020-07-23,7,2020,13.136316,NaN
307,Freshwater Bay 1,2020-08-19,8,2020,112.665764,12.2
308,Freshwater Bay 2,2020-08-19,8,2020,0.635944,11.1
309,Ebey's Landing,2020-06-18,6,2020,17.910271,11.8
310,Ebey's Landing,2020-06-18,6,2020,16.765066,11.8

In [ ]:
#How many observations are there per month, year, bed?
#Look for additional data sets that can be correlated - salinity?

In [8]:
ebey_siq = siq_red[siq_red["Bed Name"] == "Ebey's Landing"]

In [9]:
ebey_siq.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 309 to 489
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Bed Name          9 non-null      object
 1   Survey Date       9 non-null      object
 2   Survey Month      9 non-null      int64
 3   Survey Year       9 non-null      int64
 4   Acres             9 non-null      float64
 5   Temp1 Shore Edge  9 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 504.0+ bytes

In [31]:
#August
siq_red["Survey Month"] = siq_red["Survey Month"].astype(str).str.strip()
august_siq = siq_red[siq_red["Survey Month"] == "8"]

In [32]:
august_siq.head()

,Bed Name,Survey Date,Survey Month,Survey Year,Acres,Temp1 Shore Edge
307,Freshwater Bay 1,2020-08-19,8,2020,112.665764,12.2
308,Freshwater Bay 2,2020-08-19,8,2020,0.635944,11.1
312,Ebey's Landing,2020-08-30,8,2020,41.614620,11.9
313,Ebey's Landing,2020-08-30,8,2020,39.986982,11.9
314,Lowell,2020-08-22,8,2020,5.854933,14.3

In [33]:
num_observations_august = len(august_siq)

In [34]:
print(num_observations_august)

96

In [27]:
#September
siq_red["Survey Month"] = siq_red["Survey Month"].astype(str).str.strip()
september_siq = siq_red[siq_red["Survey Month"] == "9"]

In [28]:
num_observations_september = len(september_siq)
print(num_observations_september)

37

In [35]:
#June
siq_red["Survey Month"] = siq_red["Survey Month"].astype(str).str.strip()
june_siq = siq_red[siq_red["Survey Month"] == "6"]

In [36]:
num_observations_june = len(june_siq)
print(num_observations_june)

31

In [37]:
#July
siq_red["Survey Month"] = siq_red["Survey Month"].astype(str).str.strip()
july_siq = siq_red[siq_red["Survey Month"] == "7"]

In [38]:
num_observations_july = len(july_siq)
print(num_observations_july)

69

In [40]:
#Year 2020
siq_red["Survey Year"] = siq_red["Survey Year"].astype(str).str.strip()
siq_2020 = siq_red[siq_red["Survey Year"] == "2020"]

In [41]:
num_observations_2020 = len(siq_2020)
print(num_observations_2020)

50

In [42]:
#Year 2021
siq_red["Survey Year"] = siq_red["Survey Year"].astype(str).str.strip()
siq_2021 = siq_red[siq_red["Survey Year"] == "2021"]

In [43]:
num_observations_2021 = len(siq_2021)
print(num_observations_2021)

45

In [44]:
#Year 2022
siq_red["Survey Year"] = siq_red["Survey Year"].astype(str).str.strip()
siq_2022 = siq_red[siq_red["Survey Year"] == "2022"]

In [45]:
num_observations_2022 = len(siq_2022)
print(num_observations_2022)

42

In [46]:
#Year 2023
siq_red["Survey Year"] = siq_red["Survey Year"].astype(str).str.strip()
siq_2023 = siq_red[siq_red["Survey Year"] == "2023"]

In [47]:
num_observations_2023 = len(siq_2023)
print(num_observations_2023)

43

In [48]:
#Year 2024
siq_red["Survey Year"] = siq_red["Survey Year"].astype(str).str.strip()
siq_2024 = siq_red[siq_red["Survey Year"] == "2024"]

In [49]:
num_observations_2024 = len(siq_2024)
print(num_observations_2024)

53

In [54]:
siq_red["Bed Name"].unique()

array(['Clallam Bay', 'Freshwater Bay 1', 'Freshwater Bay 2',
       "Ebey's Landing", 'Lowell', 'Polnell Point', 'Possession Point',
       'North Beach East', 'Biz Point', 'Coffin Rocks',
       'Shannon Point East', 'Shannon Point West', 'Edmonds 1',
       'Edmonds 2', 'Edmonds 3', 'Hat Island', 'Aiston Preserve',
       'Alden Bank', 'Cherry Point-Gulf Rd', 'Lummi SW',
       'Point Whitehorn', 'Hoypus Point', 'Freshwater Bay 3',
       'Hat Island West', 'Biz Point South', 'Lone Tree Point'],
      dtype=object)

In [53]:
siq_red["Bed Name"].nunique()

26

In [55]:
#Ebey's Landing
siq_red["Bed Name"] = siq_red["Bed Name"].astype(str).str.strip()
siq_ebey = siq_red[siq_red["Bed Name"] == "Ebey's Landing"]

In [56]:
num_observations_ebey = len(siq_ebey)
print(num_observations_ebey)

9

In [57]:
#Polnell
siq_red["Bed Name"] = siq_red["Bed Name"].astype(str).str.strip()
siq_polnell = siq_red[siq_red["Bed Name"] == "Polnell Point"]

In [58]:
num_observations_polnell = len(siq_polnell)
print(num_observations_polnell)

7

In [67]:
# First convert the columns to datetime format if they contain date information
# Assuming Survey Year and Survey Month are not already datetime objects
siq_polnell_2022 = siq_red[(siq_red["Bed Name"] == "Polnell Point") & 
                      (siq_red["Survey Year"] == 2022) &  # Changed from .dt.year to direct comparison
                      (siq_red["Survey Month"].isin([6]))]  # Changed from .dt.month to direct access

# If your columns actually contain datetime objects but weren't recognized as such,
# you might need to convert them first:
# siq_red["Survey Year"] = pd.to_datetime(siq_red["Survey Year"])
# siq_red["Survey Month"] = pd.to_datetime(siq_red["Survey Month"])

In [68]:
print(siq_polnell_2022)

Empty DataFrame
Columns: [Bed Name, Survey Date, Survey Month, Survey Year, Acres, Temp1 Shore Edge]
Index: []