In [2]:
import pandas as pd

excel_path = "/Users/carterwebb/Desktop/kelps/AllYearsAllSurveys_ExcelMaster_20250918_full_FOR CARTER.xlsx"

year_dfs = pd.read_excel(excel_path, sheet_name=None)

## First We Need To See How Many Beds Have Enought Data ## 
bed_years_map = {}

for yr, df in year_dfs.items(): 
    if 'Bed Name' in df.columns: #find the name column
        for bed in df['Bed Name'].dropna().unique(): #get rid of duplicates and NAN
            bed_years_map.setdefault(bed, []).append(str(yr)) #attach the bed name to the years list we created first and fill the dictionary 

print("\n | Years per Bed Name |\n")
for bed, years in sorted(bed_years_map.items()): #sort dictionary 
    years_sorted = ", ".join(sorted(years)) # sort years 
    print(f"{bed}: {years_sorted}") #print nicely

 | Years per Bed Name |

Aiston Preserve: 2018, 2019, 2020, 2021, 2022, 2023, 2024
Alden Bank: 2018, 2019, 2020
Ben Ure: 2016, 2017, 2018
Biz Point: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Biz Point South: 2024
Cherry Point-Gulf Rd: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Clallam Bay: 2017, 2018, 2019, 2020, 2021, 2022, 2023
Coffin Rocks: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Ebey's Landing: 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Edmond 2 (B): 2015
Edmond 3 (A): 2015
Edmond 3 (C): 2015
Edmonds 1: 2017, 2018, 2019, 2020, 2021, 2022, 2024
Edmonds 2: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Edmonds 3: 2016, 2017, 2018, 2019, 2020, 2021, 2022
Fawn Island: 2016, 2017
Freshwater Bay 1: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Freshwater Bay 2: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Freshwater Bay 3: 2018, 2022, 2023, 2024
Hastie Lake: 2015
Hat Island: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Hat Island West: 2022, 2023, 2024
Hoypus Point: 2016, 2017, 2018, 2021, 2022, 2023, 2024
Libbey Beach: 2015
Lone Tree Point: 2024
Lowell: 2016, 2017, 2020, 2021, 2022, 2023, 2024
Lowell North: 2016
Lummi SW: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Meadowdale 1: 2015, 2016, 2017
Meadowdale 2: 2015, 2016, 2017
Meadowdale 3: 2015, 2016, 2017
Mukilteo 1 (B): 2015, 2016
Mukilteo 2&3 (D): 2016
Mukilteo 2, 3&4 (D): 2015
Mukilteo 4: 2016
Mukilteo 5 (E): 2015, 2016, 2018
Mukilteo 5(E) Unit 5: 2017
Mukilteo 5(E) Unit 6: 2017
Mukilteo 6 (A): 2015, 2016
Mukilteo C: 2015
Mukilteo F: 2015
Mukilteo G: 2015
Mukilteo H: 2015
Mukilteo I: 2015
North Beach East: 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
North Beach West: 2015, 2019
Point Whitehorn: 2016, 2019, 2020, 2021, 2023
Pole Pass: 2015, 2016, 2017
Polnell Point: 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Possession Point: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Reef Island: 2016, 2017
Shannon Point East: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
Shannon Point West: 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024

In [3]:
def build_bed_dfs(excel_path, desired_cols=None):
    """
    Reads an Excel file with multiple sheets (2016–2024),
    keeps selected columns, and creates standalone DataFrames
    for each target bed directly in the global namespace.
    """

## Select Target Beds That Have Greatest Data ## 
    target_beds = [
        'Aiston Preserve','Biz Point','Cherry Point-Gulf Rd','Clallam Bay','Coffin Rocks',
        "Ebey's Landing",'Freshwater Bay 1','Freshwater Bay 2','Hat Island','Hoypus Point',
        'Lowell','Lummi SW','North Beach East','Polnell Point','Possession Point',
        'Shannon Point East','Shannon Point West'
    ]

## Simplify Columns By Setting Default Columns## 
    if desired_cols is None:
        desired_cols = [
            'Bed Name', 'Site Code', 'Survey Date', 'Survey Day',
            'Survey Month', 'Survey Year', 'Acres',
            'Temp', 'Temp1 Shore Edge', 'Temp1 Water Edge',
            'Temp2 Shore Edge', 'Temp2 Water Edge',
            'Ave Temp Shore Edge', 'Ave Temp Water Edge'
        ]

## Read Sheets As One then Concat Them Into One DF ## 
    dfs = pd.read_excel(excel_path, sheet_name=None)
    all_data = pd.concat(
        [df[[c for c in desired_cols if c in df.columns]] for df in dfs.values()],
        ignore_index=True
    )

## Standardize DF Names ## 
    for bed in target_beds:
        ## Filter Columns with Target Bed Name ##  
        mask = all_data['Bed Name'] == bed
        if mask.any():
            ## Standardize Bed Names ## 
            var_name = (
                bed.replace(" ", "_")
                   .replace("-", "_")
                   .replace("’", "")
                   .replace("'", "")
            )
## Boolean mask (True/False for each row) loading the previously selected Target Bed rows ##
            globals()[var_name] = all_data.loc[mask].copy()
            print(f"✅ Created DataFrame: {var_name} ({mask.sum()} rows)")

## First Time Using Globals ## Bassically Calls all Variables Define at Present. 

#Simply Put Globals Now...
## globals() == {
  #  'Lowell': DataFrame,
  #  'Polnell_Point': DataFrame,
  #  'Biz_Point': DataFrame,
  #  ...
  #  'latlon_clean': DataFrame,
  #  'pd': Library          
  #  ...
# }

In [4]:
## Load Path and Use Function ## 
bed_dfs = build_bed_dfs(excel_path)

✅ Created DataFrame: Aiston_Preserve (9 rows)
✅ Created DataFrame: Biz_Point (27 rows)
✅ Created DataFrame: Cherry_Point_Gulf_Rd (13 rows)
✅ Created DataFrame: Clallam_Bay (8 rows)
✅ Created DataFrame: Coffin_Rocks (31 rows)
✅ Created DataFrame: Ebeys_Landing (27 rows)
✅ Created DataFrame: Freshwater_Bay_1 (10 rows)
✅ Created DataFrame: Freshwater_Bay_2 (9 rows)
✅ Created DataFrame: Hat_Island (10 rows)
✅ Created DataFrame: Hoypus_Point (25 rows)
✅ Created DataFrame: Lowell (19 rows)
✅ Created DataFrame: Lummi_SW (9 rows)
✅ Created DataFrame: North_Beach_East (34 rows)
✅ Created DataFrame: Polnell_Point (21 rows)
✅ Created DataFrame: Possession_Point (26 rows)
✅ Created DataFrame: Shannon_Point_East (27 rows)
✅ Created DataFrame: Shannon_Point_West (25 rows)

In [8]:
Hoypus_Point

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge
40,Hoypus Point,HOYP,2016-07-19,19.0,7.0,2016.0,4.042001,14.0,NaN,NaN,NaN,NaN,NaN,NaN
41,Hoypus Point,HOYP,2016-07-22,22.0,7.0,2016.0,1.134140,12.0,NaN,NaN,NaN,NaN,NaN,NaN
42,Hoypus Point,HOYP,2016-08-19,19.0,8.0,2016.0,3.712156,14.0,NaN,NaN,NaN,NaN,NaN,NaN
43,Hoypus Point,HOYP,2016-09-14,14.0,9.0,2016.0,3.393510,13.0,NaN,NaN,NaN,NaN,NaN,NaN
151,Hoypus Point,HOYP,2017-06-25,25.0,6.0,2017.0,1.097827,9.0,NaN,NaN,NaN,NaN,NaN,NaN
152,Hoypus Point,HOYP,2017-07-25,25.0,7.0,2017.0,3.605778,10.0,NaN,NaN,NaN,NaN,NaN,NaN
211,Hoypus Point,HOYP,2018-07-17,17.0,7.0,2018.0,4.852531,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,Hoypus Point,HOYP,2018-07-17,17.0,7.0,2018.0,4.501536,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,Hoypus Point,HOYP,2018-07-17,17.0,7.0,2018.0,2.968767,13.0,NaN,NaN,NaN,NaN,NaN,NaN
214,Hoypus Point,HOYP,2018-08-14,14.0,8.0,2018.0,7.488670,13.0,NaN,NaN,NaN,NaN,NaN,NaN
215,Hoypus Point,HOYP,2018-08-14,14.0,8.0,2018.0,5.703138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,Hoypus Point,HOYP,2018-08-14,14.0,8.0,2018.0,7.376734,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Hoypus Point,HOYP,2021-06-07,7.0,6.0,2021.0,1.551245,NaN,11.0,11.0,NaN,NaN,11.00,11.00
361,Hoypus Point,HOYP,2021-07-14,7.0,14.0,2021.0,NaN,NaN,14.4,13.3,NaN,NaN,14.40,13.30
362,Hoypus Point,HOYP,2021-08-11,11.0,8.0,2021.0,2.108597,NaN,16.5,15.0,NaN,NaN,16.50,15.00
363,Hoypus Point,HOYP,2021-09-06,6.0,9.0,2021.0,2.128078,NaN,16.0,14.0,NaN,NaN,16.00,14.00
408,Hoypus Point,HOYP,2022-07-18,18.0,7.0,2022.0,3.944428,NaN,13.0,12.8,13.1,13.2,13.05,13.00
450,Hoypus Point,HOYP,2023-06-22,22.0,6.0,2023.0,1.991681,NaN,14.1,13.2,14.3,12.6,14.20,12.90
451,Hoypus Point,HOYP,2023-07-20,20.0,7.0,2023.0,2.761130,NaN,13.0,12.6,13.9,12.7,13.50,12.70
452,Hoypus Point,HOYP,2023-08-15,15.0,8.0,2023.0,3.468347,NaN,14.5,13.9,14.8,13.4,14.70,13.70
453,Hoypus Point,HOYP,2023-09-28,28.0,9.0,2023.0,2.464259,NaN,12.5,12.3,12.5,12.4,12.50,12.40
516,Hoypus Point,HOYP,2024-06-19,19.0,6.0,2024.0,2.622418,NaN,11.8,12,11.8,11.8,11.80,11.90
517,Hoypus Point,HOYP,2024-07-18,18.0,7.0,2024.0,2.374159,NaN,12.2,11.9,12.2,12.2,12.20,12.05
518,Hoypus Point,HOYP,2024-08-16,16.0,8.0,2024.0,3.406280,NaN,12.8,13,12.8,12.7,12.80,12.85
519,Hoypus Point,HOYP,2024-09-16,16.0,9.0,2024.0,2.499621,NaN,12.2,12.1,12.3,12.1,12.25,12.10

In [6]:
## Looking Into Each Data Frame For Info ##
for var_name in [
    'Aiston_Preserve','Biz_Point','Cherry_Point_Gulf_Rd','Clallam_Bay','Coffin_Rocks',
    'Ebeys_Landing','Freshwater_Bay_1','Freshwater_Bay_2','Hat_Island','Hoypus_Point',
    'Lowell','Lummi_SW','North_Beach_East','Polnell_Point','Possession_Point',
    'Shannon_Point_East','Shannon_Point_West'
]:
    print(f"\n | {var_name} |\n")
    globals()[var_name].info()

 | Aiston_Preserve |

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 251 to 489
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             9 non-null      object
 1   Site Code            9 non-null      object
 2   Survey Date          9 non-null      datetime64[ns]
 3   Survey Day           9 non-null      float64
 4   Survey Month         9 non-null      float64
 5   Survey Year          9 non-null      float64
 6   Acres                9 non-null      float64
 7   Temp                 2 non-null      float64
 8   Temp1 Shore Edge     7 non-null      object
 9   Temp1 Water Edge     7 non-null      object
 10  Temp2 Shore Edge     6 non-null      object
 11  Temp2 Water Edge     7 non-null      object
 12  Ave Temp Shore Edge  7 non-null      float64
 13  Ave Temp Water Edge  7 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 1.1+ KB

 | Biz_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 172 to 492
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             27 non-null     object
 1   Site Code            27 non-null     object
 2   Survey Date          27 non-null     datetime64[ns]
 3   Survey Day           27 non-null     float64
 4   Survey Month         27 non-null     float64
 5   Survey Year          27 non-null     float64
 6   Acres                27 non-null     float64
 7   Temp                 7 non-null      float64
 8   Temp1 Shore Edge     3 non-null      object
 9   Temp1 Water Edge     13 non-null     object
 10  Temp2 Shore Edge     0 non-null      object
 11  Temp2 Water Edge     2 non-null      object
 12  Ave Temp Shore Edge  3 non-null      float64
 13  Ave Temp Water Edge  13 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 3.2+ KB

 | Cherry_Point_Gulf_Rd |

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 197 to 495
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             13 non-null     object
 1   Site Code            13 non-null     object
 2   Survey Date          13 non-null     datetime64[ns]
 3   Survey Day           13 non-null     float64
 4   Survey Month         13 non-null     float64
 5   Survey Year          13 non-null     float64
 6   Acres                12 non-null     float64
 7   Temp                 4 non-null      float64
 8   Temp1 Shore Edge     7 non-null      object
 9   Temp1 Water Edge     7 non-null      object
 10  Temp2 Shore Edge     6 non-null      object
 11  Temp2 Water Edge     7 non-null      object
 12  Ave Temp Shore Edge  7 non-null      float64
 13  Ave Temp Water Edge  7 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 1.5+ KB

 | Clallam_Bay |

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 138 to 445
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             8 non-null      object
 1   Site Code            8 non-null      object
 2   Survey Date          8 non-null      datetime64[ns]
 3   Survey Day           8 non-null      float64
 4   Survey Month         8 non-null      float64
 5   Survey Year          8 non-null      float64
 6   Acres                8 non-null      float64
 7   Temp                 4 non-null      float64
 8   Temp1 Shore Edge     2 non-null      object
 9   Temp1 Water Edge     3 non-null      object
 10  Temp2 Shore Edge     0 non-null      object
 11  Temp2 Water Edge     0 non-null      object
 12  Ave Temp Shore Edge  2 non-null      float64
 13  Ave Temp Water Edge  3 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 960.0+ bytes

 | Coffin_Rocks |

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 73 to 499
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             31 non-null     object
 1   Site Code            31 non-null     object
 2   Survey Date          31 non-null     datetime64[ns]
 3   Survey Day           31 non-null     float64
 4   Survey Month         31 non-null     float64
 5   Survey Year          31 non-null     float64
 6   Acres                31 non-null     float64
 7   Temp                 10 non-null     float64
 8   Temp1 Shore Edge     18 non-null     object
 9   Temp1 Water Edge     17 non-null     object
 10  Temp2 Shore Edge     6 non-null      object
 11  Temp2 Water Edge     6 non-null      object
 12  Ave Temp Shore Edge  18 non-null     float64
 13  Ave Temp Water Edge  17 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 3.6+ KB

 | Ebeys_Landing |

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 0 to 500
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             27 non-null     object
 1   Site Code            27 non-null     object
 2   Survey Date          27 non-null     datetime64[ns]
 3   Survey Day           27 non-null     float64
 4   Survey Month         27 non-null     float64
 5   Survey Year          27 non-null     float64
 6   Acres                27 non-null     float64
 7   Temp                 18 non-null     float64
 8   Temp1 Shore Edge     9 non-null      object
 9   Temp1 Water Edge     11 non-null     object
 10  Temp2 Shore Edge     3 non-null      object
 11  Temp2 Water Edge     4 non-null      object
 12  Ave Temp Shore Edge  9 non-null      float64
 13  Ave Temp Water Edge  9 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 3.2+ KB

 | Freshwater_Bay_1 |

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 28 to 508
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             10 non-null     object
 1   Site Code            10 non-null     object
 2   Survey Date          10 non-null     datetime64[ns]
 3   Survey Day           10 non-null     float64
 4   Survey Month         10 non-null     float64
 5   Survey Year          10 non-null     float64
 6   Acres                10 non-null     float64
 7   Temp                 4 non-null      float64
 8   Temp1 Shore Edge     3 non-null      object
 9   Temp1 Water Edge     4 non-null      object
 10  Temp2 Shore Edge     2 non-null      object
 11  Temp2 Water Edge     3 non-null      object
 12  Ave Temp Shore Edge  3 non-null      float64
 13  Ave Temp Water Edge  4 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 1.2+ KB

 | Freshwater_Bay_2 |

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 30 to 509
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             9 non-null      object
 1   Site Code            9 non-null      object
 2   Survey Date          9 non-null      datetime64[ns]
 3   Survey Day           9 non-null      float64
 4   Survey Month         9 non-null      float64
 5   Survey Year          9 non-null      float64
 6   Acres                9 non-null      float64
 7   Temp                 4 non-null      float64
 8   Temp1 Shore Edge     4 non-null      object
 9   Temp1 Water Edge     4 non-null      object
 10  Temp2 Shore Edge     2 non-null      object
 11  Temp2 Water Edge     2 non-null      object
 12  Ave Temp Shore Edge  5 non-null      float64
 13  Ave Temp Water Edge  4 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 1.1+ KB

 | Hat_Island |

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 188 to 513
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             10 non-null     object
 1   Site Code            10 non-null     object
 2   Survey Date          10 non-null     datetime64[ns]
 3   Survey Day           10 non-null     float64
 4   Survey Month         10 non-null     float64
 5   Survey Year          10 non-null     float64
 6   Acres                10 non-null     float64
 7   Temp                 3 non-null      float64
 8   Temp1 Shore Edge     6 non-null      object
 9   Temp1 Water Edge     6 non-null      object
 10  Temp2 Shore Edge     3 non-null      object
 11  Temp2 Water Edge     3 non-null      object
 12  Ave Temp Shore Edge  6 non-null      float64
 13  Ave Temp Water Edge  6 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 1.2+ KB

 | Hoypus_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 40 to 519
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             25 non-null     object
 1   Site Code            25 non-null     object
 2   Survey Date          25 non-null     datetime64[ns]
 3   Survey Day           25 non-null     float64
 4   Survey Month         25 non-null     float64
 5   Survey Year          25 non-null     float64
 6   Acres                24 non-null     float64
 7   Temp                 8 non-null      float64
 8   Temp1 Shore Edge     13 non-null     object
 9   Temp1 Water Edge     13 non-null     object
 10  Temp2 Shore Edge     9 non-null      object
 11  Temp2 Water Edge     9 non-null      object
 12  Ave Temp Shore Edge  13 non-null     float64
 13  Ave Temp Water Edge  13 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 2.9+ KB

 | Lowell |

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 44 to 526
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             19 non-null     object
 1   Site Code            19 non-null     object
 2   Survey Date          19 non-null     datetime64[ns]
 3   Survey Day           19 non-null     float64
 4   Survey Month         19 non-null     float64
 5   Survey Year          19 non-null     float64
 6   Acres                19 non-null     float64
 7   Temp                 4 non-null      float64
 8   Temp1 Shore Edge     14 non-null     object
 9   Temp1 Water Edge     14 non-null     object
 10  Temp2 Shore Edge     7 non-null      object
 11  Temp2 Water Edge     7 non-null      object
 12  Ave Temp Shore Edge  14 non-null     float64
 13  Ave Temp Water Edge  14 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 2.2+ KB

 | Lummi_SW |

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 136 to 520
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             9 non-null      object
 1   Site Code            9 non-null      object
 2   Survey Date          9 non-null      datetime64[ns]
 3   Survey Day           9 non-null      float64
 4   Survey Month         9 non-null      float64
 5   Survey Year          9 non-null      float64
 6   Acres                9 non-null      float64
 7   Temp                 3 non-null      float64
 8   Temp1 Shore Edge     5 non-null      object
 9   Temp1 Water Edge     5 non-null      object
 10  Temp2 Shore Edge     5 non-null      object
 11  Temp2 Water Edge     5 non-null      object
 12  Ave Temp Shore Edge  5 non-null      float64
 13  Ave Temp Water Edge  5 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 1.1+ KB

 | North_Beach_East |

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 10 to 529
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             34 non-null     object
 1   Site Code            34 non-null     object
 2   Survey Date          34 non-null     datetime64[ns]
 3   Survey Day           34 non-null     float64
 4   Survey Month         34 non-null     float64
 5   Survey Year          34 non-null     float64
 6   Acres                34 non-null     float64
 7   Temp                 16 non-null     float64
 8   Temp1 Shore Edge     12 non-null     object
 9   Temp1 Water Edge     13 non-null     object
 10  Temp2 Shore Edge     9 non-null      object
 11  Temp2 Water Edge     9 non-null      object
 12  Ave Temp Shore Edge  12 non-null     float64
 13  Ave Temp Water Edge  13 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 4.0+ KB

 | Polnell_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 48 to 530
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             21 non-null     object
 1   Site Code            21 non-null     object
 2   Survey Date          21 non-null     datetime64[ns]
 3   Survey Day           21 non-null     float64
 4   Survey Month         21 non-null     float64
 5   Survey Year          21 non-null     float64
 6   Acres                21 non-null     float64
 7   Temp                 13 non-null     float64
 8   Temp1 Shore Edge     7 non-null      object
 9   Temp1 Water Edge     7 non-null      object
 10  Temp2 Shore Edge     4 non-null      object
 11  Temp2 Water Edge     5 non-null      object
 12  Ave Temp Shore Edge  7 non-null      float64
 13  Ave Temp Water Edge  7 non-null      float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 2.5+ KB

 | Possession_Point |

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 159 to 534
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             26 non-null     object
 1   Site Code            26 non-null     object
 2   Survey Date          26 non-null     datetime64[ns]
 3   Survey Day           26 non-null     float64
 4   Survey Month         26 non-null     float64
 5   Survey Year          26 non-null     float64
 6   Acres                26 non-null     float64
 7   Temp                 8 non-null      float64
 8   Temp1 Shore Edge     17 non-null     object
 9   Temp1 Water Edge     17 non-null     object
 10  Temp2 Shore Edge     11 non-null     object
 11  Temp2 Water Edge     13 non-null     object
 12  Ave Temp Shore Edge  17 non-null     float64
 13  Ave Temp Water Edge  17 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 3.0+ KB

 | Shannon_Point_East |

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 176 to 536
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             27 non-null     object
 1   Site Code            27 non-null     object
 2   Survey Date          27 non-null     datetime64[ns]
 3   Survey Day           27 non-null     float64
 4   Survey Month         27 non-null     float64
 5   Survey Year          27 non-null     float64
 6   Acres                27 non-null     float64
 7   Temp                 10 non-null     float64
 8   Temp1 Shore Edge     16 non-null     object
 9   Temp1 Water Edge     16 non-null     object
 10  Temp2 Shore Edge     4 non-null      object
 11  Temp2 Water Edge     4 non-null      object
 12  Ave Temp Shore Edge  16 non-null     float64
 13  Ave Temp Water Edge  16 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 3.2+ KB

 | Shannon_Point_West |

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 180 to 540
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bed Name             25 non-null     object
 1   Site Code            25 non-null     object
 2   Survey Date          25 non-null     datetime64[ns]
 3   Survey Day           25 non-null     float64
 4   Survey Month         25 non-null     float64
 5   Survey Year          25 non-null     float64
 6   Acres                25 non-null     float64
 7   Temp                 8 non-null      float64
 8   Temp1 Shore Edge     15 non-null     object
 9   Temp1 Water Edge     15 non-null     object
 10  Temp2 Shore Edge     6 non-null      object
 11  Temp2 Water Edge     7 non-null      object
 12  Ave Temp Shore Edge  15 non-null     float64
 13  Ave Temp Water Edge  15 non-null     float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 2.9+ KB

In [7]:
## We Renamed Our Bed DFs so We Now Need a New List to Iterate Over ##

bed_vars = [
    'Aiston_Preserve','Biz_Point','Cherry_Point_Gulf_Rd','Clallam_Bay','Coffin_Rocks',
    'Ebeys_Landing','Freshwater_Bay_1','Freshwater_Bay_2','Hat_Island','Hoypus_Point',
    'Lowell','Lummi_SW','North_Beach_East','Polnell_Point','Possession_Point',
    'Shannon_Point_East','Shannon_Point_West'
]

## I Want To Sum How Many Of Each DF Have an August (8) Survey AND At Least 1 Temp Value ##

temp_cols_all = [
    'Temp', 'Temp1 Shore Edge', 'Temp1 Water Edge',
    'Temp2 Shore Edge', 'Temp2 Water Edge',
    'Ave Temp Shore Edge', 'Ave Temp Water Edge'
]

rows = []
for var in bed_vars:
    if var in globals():
        df = globals()[var]
        # pick temp cols that actually exist in this df
        tcols = [c for c in temp_cols_all if c in df.columns]
        if not tcols:  # no temp columns present → skip
            continue
        mask = (df['Survey Month'] == 7) & df[tcols].notna().any(axis=1)
        # this mask does heavy lifting by selecting rows that are only 8 and non NAN (Boolean Mask)
        sub = df.loc[mask]
        # subset data with True rows only

        rows.append({
            'Bed': var,
            'n_rows': len(sub),
        })

summary_aug = (
    pd.DataFrame(rows)
      .sort_values('Bed')
      .reset_index(drop=True)
)

print(summary_aug)

                     Bed  n_rows
0        Aiston_Preserve       8
1              Biz_Point       8
2   Cherry_Point_Gulf_Rd       0
3            Clallam_Bay       5
4           Coffin_Rocks       9
5          Ebeys_Landing       6
6       Freshwater_Bay_1       4
7       Freshwater_Bay_2       3
8             Hat_Island       1
9           Hoypus_Point       7
10                Lowell       5
11              Lummi_SW       2
12      North_Beach_East      12
13         Polnell_Point       5
14      Possession_Point       5
15    Shannon_Point_East       8
16    Shannon_Point_West       8

In [48]:
Aiston_Preserve

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge
251,Aiston Preserve,AISP,2018-07-31,31.0,7.0,2018.0,0.117903,16.0,NaN,NaN,NaN,NaN,NaN,NaN
300,Aiston Preserve,AISP,2019-08-01,1.0,8.0,2019.0,0.167167,16.0,NaN,NaN,NaN,NaN,NaN,NaN
351,Aiston Preserve,AISP,2020-07-20,20.0,7.0,2020.0,0.327542,NaN,15.0,15.0,15.6,15.0,15.30,15.00
398,Aiston Preserve,AISP,2021-07-27,27.0,7.0,2021.0,0.207529,NaN,14.44,14.44,NaN,14.44,14.44,14.44
441,Aiston Preserve,AISP,2022-07-31,31.0,7.0,2022.0,0.296172,NaN,20.0,20.0,20.0,20.0,20.00,20.00
483,Aiston Preserve,AISP,2023-07-20,20.0,7.0,2023.0,0.275998,NaN,12.2,12.2,12.2,12.2,12.20,12.20
484,Aiston Preserve,AISP,2023-07-20,20.0,7.0,2023.0,0.357851,NaN,12.2,12.2,12.2,12.2,12.20,12.20
488,Aiston Preserve,AISP,2024-07-21,21.0,7.0,2024.0,0.343985,NaN,14.4,14.4,15,15,14.70,14.70
489,Aiston Preserve,AISP,2024-07-21,21.0,7.0,2024.0,0.421390,NaN,14.4,14.4,15,15,14.70,14.70

In [8]:
Clallam_Bay

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge
138,Clallam Bay,CLLB,2017-07-09,9.0,7.0,2017.0,23.094739,13.0,NaN,NaN,NaN,NaN,NaN,NaN
139,Clallam Bay,CLLB,2017-07-23,23.0,7.0,2017.0,25.128053,12.0,NaN,NaN,NaN,NaN,NaN,NaN
200,Clallam Bay,CLLB,2018-07-16,16.0,7.0,2018.0,18.767499,14.0,NaN,NaN,NaN,NaN,NaN,NaN
255,Clallam Bay,CLLB,2019-07-19,19.0,7.0,2019.0,22.331618,14.4,NaN,NaN,NaN,NaN,NaN,NaN
306,Clallam Bay,CLLB,2020-07-23,23.0,7.0,2020.0,13.136316,NaN,NaN,12.0,NaN,NaN,NaN,12.00
356,Clallam Bay,CLLB,2021-08-23,23.0,8.0,2021.0,15.315023,NaN,16.67,12.22,NaN,NaN,16.67,12.22
403,Clallam Bay,CLLB,2022-08-29,29.0,8.0,2022.0,12.728182,NaN,11.67,12.22,NaN,NaN,11.67,12.22
445,Clallam Bay,CLLB,2023-09-02,2.0,9.0,2023.0,9.584521,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
Ebeys_Landing

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge
0,Ebey's Landing,EBL,2015-06-14,14.0,6.0,2015.0,9.490754,11.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Ebey's Landing,EBL,2015-07-19,19.0,7.0,2015.0,14.626063,13.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Ebey's Landing,EBL,2015-08-15,15.0,8.0,2015.0,18.354044,13.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Ebey's Landing,EBL,2015-09-26,26.0,9.0,2015.0,17.885642,12.0,NaN,NaN,NaN,NaN,NaN,NaN
37,Ebey's Landing,EBL,2016-06-25,25.0,6.0,2016.0,18.282310,14.0,NaN,NaN,NaN,NaN,NaN,NaN
38,Ebey's Landing,EBL,2016-07-22,22.0,7.0,2016.0,20.396699,12.0,NaN,NaN,NaN,NaN,NaN,NaN
39,Ebey's Landing,EBL,2016-08-19,19.0,8.0,2016.0,18.985232,13.0,NaN,NaN,NaN,NaN,NaN,NaN
147,Ebey's Landing,EBL,2017-06-26,26.0,6.0,2017.0,14.044818,11.0,NaN,NaN,NaN,NaN,NaN,NaN
148,Ebey's Landing,EBL,2017-07-25,25.0,7.0,2017.0,20.161350,12.0,NaN,NaN,NaN,NaN,NaN,NaN
149,Ebey's Landing,EBL,2017-08-23,23.0,8.0,2017.0,20.945903,13.0,NaN,NaN,NaN,NaN,NaN,NaN
150,Ebey's Landing,EBL,2017-09-16,16.0,9.0,2017.0,21.534815,11.0,NaN,NaN,NaN,NaN,NaN,NaN
208,Ebey's Landing,EBL,2018-05-28,28.0,5.0,2018.0,0.301316,10.0,NaN,NaN,NaN,NaN,NaN,NaN
209,Ebey's Landing,EBL,2018-07-02,2.0,7.0,2018.0,18.513422,12.0,NaN,NaN,NaN,NaN,NaN,NaN
210,Ebey's Landing,EBL,2018-08-07,7.0,8.0,2018.0,21.293413,12.0,NaN,NaN,NaN,NaN,NaN,NaN
258,Ebey's Landing,EBL,2019-06-21,21.0,6.0,2019.0,24.952333,12.0,NaN,11.5,NaN,NaN,NaN,NaN
259,Ebey's Landing,EBL,2019-07-18,18.0,7.0,2019.0,37.181197,12.3,NaN,NaN,NaN,NaN,NaN,NaN
260,Ebey's Landing,EBL,2019-08-13,13.0,8.0,2019.0,41.131154,13.0,NaN,12.1,NaN,12.7,NaN,NaN
261,Ebey's Landing,EBL,2019-09-27,27.0,9.0,2019.0,32.447042,11.0,NaN,NaN,NaN,NaN,NaN,NaN
312,Ebey's Landing,EBL,2020-06-18,18.0,6.0,2020.0,17.910271,NaN,11.8,11.7,NaN,NaN,11.80,11.70
313,Ebey's Landing,EBL,2020-06-18,18.0,6.0,2020.0,16.765066,NaN,11.8,11.7,NaN,NaN,11.80,11.70
314,Ebey's Landing,EBL,2020-07-18,18.0,7.0,2020.0,32.668399,NaN,11.5,11.9,NaN,NaN,11.50,11.90
315,Ebey's Landing,EBL,2020-08-30,30.0,8.0,2020.0,39.986982,NaN,11.9,12.0,NaN,NaN,11.90,12.00
316,Ebey's Landing,EBL,2020-08-30,30.0,8.0,2020.0,41.614620,NaN,11.9,12.0,NaN,NaN,11.90,12.00
359,Ebey's Landing,EBL,2021-08-11,11.0,8.0,2021.0,37.681341,NaN,12.0,12.0,NaN,NaN,12.00,12.00
407,Ebey's Landing,EBL,2022-08-23,23.0,8.0,2022.0,38.629817,NaN,11.9,12.3,12.2,12.2,12.05,12.25
449,Ebey's Landing,EBL,2023-08-14,14.0,8.0,2023.0,31.122627,NaN,11.8,12.2,11.7,12.2,11.80,12.20
500,Ebey's Landing,EBL,2024-08-20,20.0,8.0,2024.0,33.207906,NaN,11,11.2,11.8,11.4,11.40,11.30

In [58]:
latlon = pd.read_csv("/Users/carterwebb/Desktop/kelps/data/raw_data/latlon_sites.csv")


target_beds = [
        'Aiston Preserve','Biz Point','Cherry Point-Gulf Rd','Clallam Bay','Coffin Rocks',
        "Ebey's Landing",'Freshwater Bay 1','Freshwater Bay 2','Hat Island','Hoypus Point',
        'Lowell','Lummi SW','North Beach East','Polnell Point','Possession Point',
        'Shannon Point East','Shannon Point West'
    ]




for bed in target_beds:
        ## Filter Columns with Target Bed Name ##  
        mask = latlon['Location'] == bed
        if mask.any():
            ## Standardize Bed Names To Match ## 
            var_name = (
                bed.replace(" ", "_")
                   .replace("-", "_")
                   .replace("’", "")
                   .replace("'", "")
            )

In [11]:
latlon

,Location,Review,lon,lat
0,Clallam Bay,No,-124.274586,48.256240
1,FWB2/Observatory Point,No,-123.637116,48.149835
2,FWB3/Extension,Review for 2024,-123.637779,48.151343
3,North Beach,No,-122.777051,48.144927
4,Edmonds Dive Park,No,-122.381880,47.816669
5,Edmonds North,No,-122.376966,47.821966
6,Meadowdale,No,-122.345881,47.844177
7,Mukilteo,No,-122.310475,47.936389
8,Hat Island,No,-122.299249,48.003267
9,Hat Island West,Review for 2024 - Note Suz removed some vertic...,-122.316456,48.005093
10,Possession Point,No,-122.388517,47.901769
11,Ebey's,No,-122.703190,48.183653
12,Polnell,No,-122.565838,48.274563
13,Lowell Point Camano State Park,No,-122.485688,48.120390
14,Hoypus,No,-122.602076,48.410683
15,Coffin Rocks,No,-122.662289,48.412941
16,Biz Point,No,-122.678342,48.441628
17,Shannon Point West,No,-122.688303,48.507718
18,Shannon Point East,No,-122.680414,48.509646
19,Lummi SW,No,-122.629515,48.649798
20,Aiston,No,-122.629921,48.680355
21,Cherry Point/Gulf Rd,No,-122.723385,48.850264
22,Point Whitehorn,No,-122.795747,48.891287
23,FWB1,No,-123.608792,48.140807
24,Biz Point South,NaN,-122.677560,48.440946
25,Lone Tree Point,"needs review, created 4/10/25 from DNR Kelp Li...",-122.555949,48.404923

In [59]:
latlon = pd.read_csv("/Users/carterwebb/Desktop/kelps/data/raw_data/latlon_sites.csv")


## First Try Didnt Work to Match Exactly ## 
rename_map = {
    'Aiston': 'Aiston_Preserve',
    'Biz Point': 'Biz_Point',
    'Cherry Point/Gulf Rd': 'Cherry_Point_Gulf_Rd',
    'Clallam Bay': 'Clallam_Bay',
    'Coffin Rocks': 'Coffin_Rocks',
    "Ebey's": 'Ebeys_Landing',
    'FWB1': 'Freshwater_Bay_1',
    'FWB2/Observatory Point': 'Freshwater_Bay_2',
    'Hat Island': 'Hat_Island',
    'Hoypus': 'Hoypus_Point',
    'Lowell Point Camano State Park': 'Lowell',
    'Lummi SW': 'Lummi_SW',
    'North Beach': 'North_Beach_East',
    'Polnell': 'Polnell_Point',
    'Possession Point': 'Possession_Point',
    'Shannon Point East': 'Shannon_Point_East',
    'Shannon Point West': 'Shannon_Point_West'
}


latlon['Location'] = latlon['Location'].map(rename_map)#.fillna(latlon['Location']) fixes NANs but these dont matter for us



# Simplify and Match For Join ## 
latlon_clean = (
    latlon[['Location', 'lat', 'lon']]
    .rename(columns={'Location': 'Bed Name'})
    .sort_values(by='Bed Name')
)

print(latlon_clean)

                Bed Name        lat         lon
20       Aiston_Preserve  48.680355 -122.629921
16             Biz_Point  48.441628 -122.678342
21  Cherry_Point_Gulf_Rd  48.850264 -122.723385
0            Clallam_Bay  48.256240 -124.274586
15          Coffin_Rocks  48.412941 -122.662289
11         Ebeys_Landing  48.183653 -122.703190
23      Freshwater_Bay_1  48.140807 -123.608792
1       Freshwater_Bay_2  48.149835 -123.637116
8             Hat_Island  48.003267 -122.299249
14          Hoypus_Point  48.410683 -122.602076
13                Lowell  48.120390 -122.485688
19              Lummi_SW  48.649798 -122.629515
3       North_Beach_East  48.144927 -122.777051
12         Polnell_Point  48.274563 -122.565838
10      Possession_Point  47.901769 -122.388517
18    Shannon_Point_East  48.509646 -122.680414
17    Shannon_Point_West  48.507718 -122.688303
2                    NaN  48.151343 -123.637779
4                    NaN  47.816669 -122.381880
5                    NaN  47.821966 -122.376966
6                    NaN  47.844177 -122.345881
7                    NaN  47.936389 -122.310475
9                    NaN  48.005093 -122.316456
22                   NaN  48.891287 -122.795747
24                   NaN  48.440946 -122.677560
25                   NaN  48.404923 -122.555949

In [42]:
latlon_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 20 to 25
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Bed Name  17 non-null     object
 1   lat       26 non-null     float64
 2   lon       26 non-null     float64
dtypes: float64(2), object(1)
memory usage: 832.0+ bytes

In [60]:
## Grab The Columns From latlon_clean and Prep Them For Adding To Each Individual DF Corresponding to a Bed ##
# This is not a join, join was making very weird outputs. 

for _, row in latlon_clean.iterrows():
    bed_name = row["Bed Name"]      # e.g. "Biz_Point"
    lat = row["lat"]
    lon = row["lon"]

    # Check if the DataFrame Exists in Globals, As Explained Earlier. 
    if bed_name in globals():
        df = globals()[bed_name] # make new df 

        df["lat"] = lat # add lat lon to that df
        df["lon"] = lon

        # replace old df data with new df data (keep the name) 
        globals()[bed_name] = df

        print(f"✅ Added lat/lon to {bed_name} ({len(df)} rows)")
    else:
        print(f"⚠️ No DataFrame named {bed_name} found")

## DFs Not Found Are The NANs We Dont Care About ##

✅ Added lat/lon to Aiston_Preserve (9 rows)
✅ Added lat/lon to Biz_Point (27 rows)
✅ Added lat/lon to Cherry_Point_Gulf_Rd (13 rows)
✅ Added lat/lon to Clallam_Bay (8 rows)
✅ Added lat/lon to Coffin_Rocks (31 rows)
✅ Added lat/lon to Ebeys_Landing (27 rows)
✅ Added lat/lon to Freshwater_Bay_1 (10 rows)
✅ Added lat/lon to Freshwater_Bay_2 (9 rows)
✅ Added lat/lon to Hat_Island (10 rows)
✅ Added lat/lon to Hoypus_Point (25 rows)
✅ Added lat/lon to Lowell (19 rows)
✅ Added lat/lon to Lummi_SW (9 rows)
✅ Added lat/lon to North_Beach_East (34 rows)
✅ Added lat/lon to Polnell_Point (21 rows)
✅ Added lat/lon to Possession_Point (26 rows)
✅ Added lat/lon to Shannon_Point_East (27 rows)
✅ Added lat/lon to Shannon_Point_West (25 rows)
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found
⚠️ No DataFrame named nan found

In [29]:
Aiston_Preserve

,Bed Name,Site Code,Survey Date,Survey Day,Survey Month,Survey Year,Acres,Temp,Temp1 Shore Edge,Temp1 Water Edge,Temp2 Shore Edge,Temp2 Water Edge,Ave Temp Shore Edge,Ave Temp Water Edge,lat,lon
251,Aiston Preserve,AISP,2018-07-31,31.0,7.0,2018.0,0.117903,16.0,NaN,NaN,NaN,NaN,NaN,NaN,48.680355,-122.629921
300,Aiston Preserve,AISP,2019-08-01,1.0,8.0,2019.0,0.167167,16.0,NaN,NaN,NaN,NaN,NaN,NaN,48.680355,-122.629921
351,Aiston Preserve,AISP,2020-07-20,20.0,7.0,2020.0,0.327542,NaN,15.0,15.0,15.6,15.0,15.30,15.00,48.680355,-122.629921
398,Aiston Preserve,AISP,2021-07-27,27.0,7.0,2021.0,0.207529,NaN,14.44,14.44,NaN,14.44,14.44,14.44,48.680355,-122.629921
441,Aiston Preserve,AISP,2022-07-31,31.0,7.0,2022.0,0.296172,NaN,20.0,20.0,20.0,20.0,20.00,20.00,48.680355,-122.629921
483,Aiston Preserve,AISP,2023-07-20,20.0,7.0,2023.0,0.275998,NaN,12.2,12.2,12.2,12.2,12.20,12.20,48.680355,-122.629921
484,Aiston Preserve,AISP,2023-07-20,20.0,7.0,2023.0,0.357851,NaN,12.2,12.2,12.2,12.2,12.20,12.20,48.680355,-122.629921
488,Aiston Preserve,AISP,2024-07-21,21.0,7.0,2024.0,0.343985,NaN,14.4,14.4,15,15,14.70,14.70,48.680355,-122.629921
489,Aiston Preserve,AISP,2024-07-21,21.0,7.0,2024.0,0.421390,NaN,14.4,14.4,15,15,14.70,14.70,48.680355,-122.629921

In [61]:
# Save Lat Lon Incase We Need it In the Future ## 
latlon_clean.to_csv("/Users/carterwebb/Desktop/kelps/data/cleaned_data/latlon_clean.csv", index=False)
print("✅ Saved latlon_clean.csv")

## Couldnt Get the Old List To Call Correctly, Not Sure What Happened, Simply Remade it To Save ## 
bed_vars = [
    'Aiston_Preserve','Biz_Point','Cherry_Point_Gulf_Rd','Clallam_Bay','Coffin_Rocks',
    'Ebeys_Landing','Freshwater_Bay_1','Freshwater_Bay_2','Hat_Island','Hoypus_Point',
    'Lowell','Lummi_SW','North_Beach_East','Polnell_Point','Possession_Point',
    'Shannon_Point_East','Shannon_Point_West'
]

for bed in bed_vars:
    if bed in globals():
        df = globals()[bed]
        if 'Bed Name' not in df.columns:
            df['Bed Name'] = bed
        df.to_csv(f"/Users/carterwebb/Desktop/kelps/data/cleaned_data/{bed}.csv", index=False)
        print(f"✅ Saved {bed}.csv ({len(df)} rows)")
    else:
        print(f"⚠️ {bed} not found")

## Concat For Future Use If Neccesary / Making Percent Change Metrics ## 
combined = pd.concat([globals()[b] for b in bed_vars if b in globals()], ignore_index=True)
combined.to_csv("/Users/carterwebb/Desktop/kelps/data/cleaned_data/AllBeds_Clean.csv", index=False)
print(f"✅ Saved AllBeds_Clean.csv ({len(combined)} total rows)")

✅ Saved latlon_clean.csv
✅ Saved Aiston_Preserve.csv (9 rows)
✅ Saved Biz_Point.csv (27 rows)
✅ Saved Cherry_Point_Gulf_Rd.csv (13 rows)
✅ Saved Clallam_Bay.csv (8 rows)
✅ Saved Coffin_Rocks.csv (31 rows)
✅ Saved Ebeys_Landing.csv (27 rows)
✅ Saved Freshwater_Bay_1.csv (10 rows)
✅ Saved Freshwater_Bay_2.csv (9 rows)
✅ Saved Hat_Island.csv (10 rows)
✅ Saved Hoypus_Point.csv (25 rows)
✅ Saved Lowell.csv (19 rows)
✅ Saved Lummi_SW.csv (9 rows)
✅ Saved North_Beach_East.csv (34 rows)
✅ Saved Polnell_Point.csv (21 rows)
✅ Saved Possession_Point.csv (26 rows)
✅ Saved Shannon_Point_East.csv (27 rows)
✅ Saved Shannon_Point_West.csv (25 rows)
✅ Saved AllBeds_Clean.csv (330 total rows)